@page
@model EfCoreProject.Presentation.Pages.ProductCategory.CreateModel
@{
}


<form method="post">
    <div class="row">
        <div class="col-6">
            <label>Name</label>
            <input type="text" name="name" class="form-control" />
        </div>
        <div class="col-12">
            <button  type="submit" class="btn-success">Submit</button>
        </div>
    </div>
</form>

